.title-admin{
    color: grey; 
    font-weight: bold
}

.subtitle-admin{
    color: grey; 
    font-weight: bold
}

.filter{
    margin: 5px 5px;
}

.subfilter{
    color: grey;
}

.btn-filter{
    background-color: gainsboro;
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: width 0.5s, height 0.5s;
}

