.filter{
    margin: 5px 5px;
}

.btn-filter{
    background-color: gainsboro;
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: width 0.5s, height 0.5s;
}

.btn-filter:hover{
    font-size: 14px;
    height: 25px;
}