.title-home{
    color: grey; 
    font-weight: bold
}

.subtitle-admin{
    color: grey; 
    font-weight: bold
}

.filter{
    margin: 5px 5px;
}

.subfilter{
    color: grey;
}

.btn-detail{
    background-color: #ffc107;
    font-weight: bold;
    color: white;
    width: 100%;
}







